################################################################################
# MySQL
################################################################################
# The name of the database to create on startup and to connect to.
MYSQL_DATABASE=iamcare
# The host where the MySql database lives.
# Through docker-compose, this is the name of the database service.
MYSQL_HOST=database
# The password for the `MYSQL_USER` account.
# This will be used by the application
# and should be used if you want to manually connect to the database.
MYSQL_PASSWORD=
# The password of the `root` superuser account.
# This should be set to something strong
# and should generally not be used for any reason.
MYSQL_ROOT_PASSWORD=
# The user account to be used to connect to `MYSQL_DATABASE`.
MYSQL_USER=iamcare
