################################################################################
# API
################################################################################
# The URL to set cookies on (port number and scheme excluded)
API_COOKIE_DOMAIN=localhost
# The stateful URL of the application (port number included, scheme excluded)
API_STATEFUL_DOMAIN=localhost:7222

################################################################################
# Client
################################################################################
# The URL to the API from the Client
# This value should match the value in `/client/.proxyrc`
CLIENT_API_BASE_URL=/api

################################################################################
# Google
################################################################################
# The Google OAuth 2.0 Client ID
# https://console.cloud.google.com/apis/credentials?project=iamcare
GOOGLE_OAUTH_CLIENT_ID=
# The Google OAuth 2.0 Client Secret
# https://console.cloud.google.com/apis/credentials?project=iamcare
GOOGLE_OAUTH_CLIENT_SECRET=
# The Google Places API Key
# https://console.cloud.google.com/apis/credentials?project=iamcare
GOOGLE_PLACES_API_KEY=
# The two letter country code to restrict all Google Places calls to
GOOGLE_PLACES_COUNTRY_CODE=za

################################################################################
# MySQL
################################################################################
# The name of the database to create on startup and to connect to.
MYSQL_DATABASE=iamcare
# The host where the MySql database lives.
# Through docker-compose, this is the name of the database service.
MYSQL_HOST=database
# The password for the `MYSQL_USER` account.
# This will be used by the application
# and should be used if you want to manually connect to the database.
MYSQL_PASSWORD=
# The password of the `root` superuser account.
# This should be set to something strong
# and should generally not be used for any reason.
MYSQL_ROOT_PASSWORD=
# The user account to be used to connect to `MYSQL_DATABASE`.
MYSQL_USER=iamcare
